$white: #fff
$black: #202020
$red: #FF5F46
$dark-grey: #39424E
$font: 'Yantramanav','sans serif'
$body-size: 16px
$body-text: $white

$links: darken($white, 30%)
$links-hover: $white

$links-p: $red
$links-p-hover: lighten($red, 30%)

$code-block: #000004
