<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
        <title>{{ .Title }}</title>
    </head>
    <body>
        <div class="section" id="splash">

            {{ if .Site.Params.mainMenu }}
                {{ range .Site.Params.mainMenu }}
                    <div class="big-link">
                        {{ if eq .text "dialog" }}
                            <a href="{{.link}}" class="animated">
                                dialog
                            </a>
                        {{ end }}
                        {{ if ne .text "dialog" }}
                            <a href="{{.link}}">
                                {{.text}}
                            </a>
                        {{ end }}
                    </div>
                {{ end }}

                <div class="big-link">

                </div>

            {{ else }}
                {{ range .Site.Sections }}
                    <div class="big-link"> 
                        <a href="{{.Permalink}}">
                            {{.Title}}
                        </a>
                    </div>
                {{ end }}
            {{ end }}
            
        </div>
    </body>
    <script>
        $('a.animated').hover(
            function() {
                var $this = $(this); // caching $(this)
                $this.data('defaultText', $this.text());
                $this.text("data and information analytics log");
            },
            function() {
                var $this = $(this); // caching $(this)
                $this.text($this.data('defaultText'));
            }
        );
    </script>
</html>